
  <% if @user.errors.any? %>
    <div class="card red darken-1" id="error_explanation">
      <div class="card-content white-text">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      </div>
    </div>
  <% end %>
